<%= form_with url: virtual_machines_path,
  class: "filters-container",
  method: :get,
  data: { controller: "filters", filters_target: "form", turbo_frame: "vm_list" } do |f| %>
  <div class="filters-group">
<%= f.label :category, "Filter by status" %>
<%= f.select :status, [["INIT", "INIT"], ["RUNNING", "RUNNING"], ["STOPPED", "STOPPED"], ["STOPPING", "STOPPING"], ["ERROR", "ERROR"], ["BOOTING", "BOOTING"], ["BUILDING_FILESYSTEM", "BUILDING_FILESYSTEM"]], {selected: params[:status], include_blank: true },
    { data: { action: "filters#submit" } } %>
  </div>
<% end %>
